p {
  position: fixed;
  z-index: 100;
  bottom: 20px;
  right: 100px;
  background: rgba(125,125,125,.1);
  padding: 5px 10px;
  margin: 0;
  border-radius: 3px;
  font: 12px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
}